body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.styled-table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
}

.styled-table th, .styled-table td {
  border: 1px solid #ddd;
  padding: 8px;
  /* text-align: center; */
}

.styled-table th {
  background-color: #182566;
  color: #fff;
}

/* .styled-table td {
  white-space: nowrap;
} */

.styled-table tbody tr:hover {
  background-color: #f5f5f5;
}


/* Sidebar styles */


.sidebar {
  width: 200px;
  height: 85vh;
  padding: 20px;
  background-color: #2c3e50;
  color: #ecf0f1;
  font-family: 'Arial', sans-serif;
}

.sidebar h3 {
  margin-bottom: 20px;
  font-size: 18px;
}

.sidebar ul {
  list-style: none;
  padding: 0;
}

.sidebar li {
  cursor: pointer;
  padding: 10px;
  margin-bottom: 10px;
  transition: background-color 0.3s ease;
  border-radius: 4px;
}

/* Add this to your CSS file or style block */

.sidebar li.selected {
  background-color: #3498db;
  color: #ecf0f1;
  border-radius: 4px;
}


.sidebar li:hover {
  background-color: #34495e;
}

/* Chat window styles */
.chat-window {
  flex: 1;
  background-color: #ecf0f1;
  padding: 20px;
}

.chat-header {
  background-color: #3498db;
  padding: 15px;
  border-radius: 4px 4px 0 0;
  color: #ecf0f1;
  font-size: 20px;
}

.chat-messages {
  max-height: 400px;
  overflow-y: auto;
  border: 1px solid #bdc3c7;
  border-radius: 4px;
  padding: 10px;
  margin-top: 10px;
}

.chat-message {
  margin-bottom: 10px;
}

.chat-input {
  margin-top: 10px;
}

/* Add these styles to your existing JSX elements */

.attendance_container {
  max-width: 1000px;
  margin: auto;
  background-color: #ffffff;
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-check {
  width: 48%;
  padding: 10px;
  font-size: 18px;
}
/* .calendar-icon {
  position: fixed;
  right: 480px;
  bottom: 4500px; 
  top: 40%;

  transform: translateY(-50%);
} */